.footer {
	position: fixed;
	padding: 10px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	margin-right: auto;
	margin-left: auto;
}

.prefooter {
	padding: 50px;
}

.dropdown-menu {
	height: 40%;
	overflow-y: auto;
}

.uploader {
	right: 0px;
	left: 0px;
	margin-right: auto;
	margin-left: auto;
}

.inputWrapper {
    height: 32px;
    width: 32px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background-image: url('./floppy-disk.png');
}
.fileInput {
    cursor: pointer;
    height: 100%;
    position:absolute;
    top: 0;
    right: 0;
    z-index: 99;
    font-size:50px;
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}