<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <title>Bible Skel Checker - An app to check you Bible book consistency !</title>
    <link   rel="stylesheet" href="./bower_components/bootstrap-css-only/css/bootstrap.min.css" />
	<link   rel="stylesheet" href="./app.css" />
	<script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="./bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="./bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
    <script src="./app.js"></script>
</head>
<body ng-app="BibleSkelChecker">
	
	<!-- App body -->
    <div id="mainBody" ng-controller="MainCtrl as mainCtrl">
	
		<!-- Blue header bar -->
		<div id="header" class="page header alert alert-info text-center">
			<h3>Bible Skel Checker</h3>
		</div>
		
		<!-- Selection body -->
		<div id="selection" class="container text-center" ng-show="!mainCtrl.comparisonReady">
			
			<!-- Bible template dropdown -->
			<h5>Choose the template book:</h5>
			<div id="bibleDropdown" class="btn-group" uib-dropdown dropdown-append-to-body>
				<button id="btn-append-to-to-body" type="button" class="btn btn-default" uib-dropdown-toggle>
					Bible book list <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
				<li ng-repeat="book in mainCtrl.books" role="menuitem"><a ng-click="mainCtrl.chooseBook(book,mainCtrl.templateBook, false)">{{book}}</a></li>
				</ul>
			</div>

			<br/><br/>

			<!-- Show error or success while reading template file -->
			<div class="container" ng-show="mainCtrl.templateBook.error">
				<div class="alert alert-danger">Template: {{mainCtrl.templateBook.error}}</div>
			</div>
			<div class="container" ng-show="mainCtrl.templateBook.success">
				<div class="alert alert-success">Template: {{mainCtrl.templateBook.success}}</div>
			</div>


			<!-- Custom bible uploading -->
			<h5>Choose the custom book:</h5>
			<div id="customBibleUpload" class="container inputWrapper">
				<input id="customBible" type="file" class="uploader fileInput" nv-file-select="" uploader="mainCtrl.uploader" filters="bookFilter"/>
			</div>

			<br/><br/>

			<!-- Show error or success while reading template file -->
			<div class="container" ng-show="mainCtrl.customBook.error">
				<div class="alert alert-danger">Custom: {{mainCtrl.customBook.error}}</div>
			</div>
			<div class="container" ng-show="mainCtrl.customBook.success">
				<div class="alert alert-success">Custom: {{mainCtrl.customBook.success}}</div>
			</div>

			<!-- Make comparison -->
			<div>
				<button type="button" class="btn btn-default" 
						ng-disabled="!mainCtrl.templateBook.isValid || !mainCtrl.customBook.isValid"
						ng-click="mainCtrl.groupComparison()">
				Make comparison!
				</button>
			</div>
			
		</div>

		<!-- Comparison body -->
		<div id="comparison" class="container text-center" ng-show="mainCtrl.comparisonReady">
			<button type="button" class="btn btn-default" ng-click="mainCtrl.reset()">Reset</button>
			<br/>
			<div id="sameBooks" ng-show="mainCtrl.compare.template.bookName === mainCtrl.compare.custom.bookName">
				<h4 ng-class="{'text-success': mainCtrl.compare.template.chapters.length === mainCtrl.compare.custom.chapters.length,
							'text-danger': mainCtrl.compare.template.chapters.length !== mainCtrl.compare.custom.chapters.length }">
					<strong>
						"{{mainCtrl.compare.template.bookName}}" template book has {{mainCtrl.compare.template.chapters.length}} chapters
							and your custom "{{mainCtrl.compare.custom.bookName}}" book has {{mainCtrl.compare.custom.chapters.length}}.
					</strong>
				</h4>
				<uib-accordion>
					<uib-accordion-group
						ng-repeat="chapter in mainCtrl.compare.template.chapters"
						heading="Chapter {{chapter.id}}"
						class="{{mainCtrl.changeAccordColor(chapter.versesCount, mainCtrl.compare.custom.chapters[$index].versesCount)}}">

						<!-- Show if number of verses are the same in the template and custom books. -->
						<h5 ng-show="chapter.versesCount === mainCtrl.compare.custom.chapters[$index].versesCount">
							Chapter {{chapter.id}} has {{chapter.versesCount}} verses in the template book and has {{mainCtrl.compare.custom.chapters[$index].versesCount}} in the custom book.
						</h5>
						
						<!-- Show if number of verses are different in the template and custom books. -->
						<h5 ng-show="chapter.versesCount !== mainCtrl.compare.custom.chapters[$index].versesCount">
							Chapter {{chapter.id}} has {{chapter.versesCount}} verses in the template book and has {{mainCtrl.compare.custom.chapters[$index].versesCount || 0}} in the custom book.
						</h5>
						
					</uib-accordion-group>
				</uib-accordion>
			</div>
			<div id="diffBooks" ng-show="mainCtrl.compare.template.bookName !== mainCtrl.compare.custom.bookName">
				<h4 class="alert alert-danger">
					<strong>
						It seems that you have loaded different books for comparison!
						("{{mainCtrl.compare.template.bookName}}" as template book and "{{mainCtrl.compare.custom.bookName}}" as your custom book)
					</strong>
				</h4>
			</div>
			<button type="button" class="btn btn-default" ng-click="mainCtrl.reset()">Reset</button>
		</div>
	</div>

	<p class="prefooter"> </p>

	<!-- Footer body -->
    <div id="footer" class="footer alert-info text-center">
		<p>
			<span class="glyphicon glyphicon-book"></span>
            Colossians 3:23 - Whatever you do, work at it with all your heart, as working for the Lord...
		</p>
        <p class="small">
            Powered by <a href="https://br.linkedin.com/in/leonardociongolivinagre/en" target="_blank">Leonardo Ciongoli Vinagre</a>
        </p>
    </div>
</body>
</html>